! | Stell | !
! by appath
! 2017
#include "/home/user/.themecolors/steel"
*.dpi:			89
*termName:		rxvt-256color
*font:			xft:PragmataPro:size=8
*fontBold:		xft:PragmataPro:size=8
*.depth:		32
*lineSpace:		1
*letterSpace:		0
*geometry:		116x22
*.scrollBar:		false
*loginShell:		true
*.internalBorder:	25
