! Xresources 
! XTerm-256color
*utf8Title:		      true
*scrollBar:		      false
*geometry:		      116x24
*saveLines:		      4096
!*termName:		      xterm-256color
*internalBorder:	  10
! Colors
*colorBD:		        #e6d51d
*background:		    #111111
*foreground:		    #b4b4b4
