#!/usr/bin/env bash

while true; do

	#Keyboard layout Ctrl+Shift
	if [ "$(xset -q | grep "LED mask:" | awk '{ print $10 }')" == "00000000" ]; then
		xsetroot -name "ENG  $(date +"%H:%M %p  ")"
	else
		xsetroot -name "РУС  $(date +"%H:%M %p  ")"
	fi
	
	#Update time every minute
	sleep 1s
done &


