#include "/home/user/.terminal"
*.dpi: 89
*.letterSpace: -1
*font: xft:Pragmata Pro:size=10
*termName: rxvt-256color
*.depth: 32
*.scrollBar: False
*.cursorBlink: True
*.cursorColor: #ffffff
*colorUL: #8c9440
*perl-ext-common: default,matcher
*url-launcher: /usr/bin/xdg-open
*matcher.button: 1
*geometry: 116x22
*.internalBorder: 4
*loginShell: True

*background: bg
*foreground: fg
*color0: blk
*color8: bblk
*color1: red
*color9: red
*color2: green
*color10: gren
*color3: yellow
*color11: yellow
*color4: blue
*color12: blue
*color5: magenta
*color13: magenta
*color6: cyan
*color14: cyan
*color7: white
*color15: white

! ----------------------- !
! ---- The End Color ---- !
! ----------------------- !
