#!/bin/bash
# KeyMap
while true; do
	if [ "$( xset -q | awk -F \" \" '/Group 2/ {print($4)}' )" = "on" ]; then
		LAYOUT="RU";	// Russian
	else
		LAYOUT="EN";	// English
	fi;

	xsetroot -name "$LAYOUT  $(date +"%a %d, %b %H:%M %p  ")"
sleep 15s
done &
