#include </home/user/.color_term>
URxvt.iso8859: false
!URxvt*font: -*-fixed-*-*-*-*-12-*-*-*-*-*-*-*
!URxvt*fontBold: -*-fixed-*-*-*-*-12-*-*-*-*-*-*-*
URxvt*font: \
	-*-fixed-*-*-*-*-12-*-*-*-*-*-*-*
URxvt.termName: rxvt-unicode
URxvt.geometry: 114x22
URxvt.saveLines: 4200
URxvt.cursorBlink: true
URxvt.internalBorder: 3
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollstyle: plain
