 ██████ ██   ██
░░██░░█░░██ ██
 ░██ ░  ░░███
 ░██     ██░██
░███    ██ ░░██
 ░░░    ░░   ░░

[*] rxvt-unicode
[+] 17:43 26/2017

#include "/home/user/.terminal.bspwm"
*.dpi: 89
*.letterSpace: -1
*font: xft:Pragmata Pro:size=10
*termName: rxvt-unicode
*.depth: 32
*.scrollBar: False
*.cursorBlink: True
*geometry: 116x22
*.internalBorder: 32
*loginShell: True

*background: bg
*foreground: fg
*color0: blk
*color8: bblk
*color1: red
*color9: rred
*color2: green
*color10: ggren
*color3: yellow
*color11: yyellow
*color4: blue
*color12: bblue
*color5: magenta
*color13: mmagenta
*color6: cyan
*color14: ccyan
*color7: white
*color15: wwhite

! ----------------------- !
! ---- The End Color ---- !
! ----------------------- !
