! font config
URxvt.iso14755: false
URxvt*font: -nucleus-marathonmod-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont: -nucleus-marathonmod-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt*italicFont: -nucleus-marathonmod-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt*bolditalicFont: -nucleus-marathonmod-medium-*-*-*-14-*-*-*-*-*-*-*

! stack
*foreground: #d7d0c7
*background: #0c0c0c

!black
*color0:     #0c0c0c
*color8:     #404040
!red
*color1:     #e84f4f
*color9:     #d23d3d
!green
*color2:     #b8d68c
*color10:    #a0cf5d
!yellow
*color3:     #e1aa5d
*color11:    #f39d21
!blue
*color4:     #7dc1cf
*color12:    #4e9fb1
!magenta
*color5:     #9b64fb
*color13:    #8542ff
!cyan
*color6:     #6d878d
*color14:    #42717b
!white
*color7:     #dddddd
*color15:    #dddddd

! urxvt config
URxvt.termName: rxvt-unicode
URxvt.loginShell: true
URxvt.perl-lib: /home/user/.urxvt/urxvt-perls 
URxvt.perl-ext-common: default,matcher,clipboard,url-select
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.geometry: 116x22
URxvt.saveLines: 3700
URxvt.cursorBlink: true
URxvt.foreground: #bfbfbf
URxvt.background: #0c0c0c
URxvt.cursorColor: #e0e080
URxvt.highlightColor: #343434
URxvt.fadecolor: #0c0c0c
URxvt.internalBorder: 22
URxvt.fading: 33
URxvt.transparent: true
URxvt.tintColor: #0c0c0c
URxvt.visualBell: false
URxvt.urgentOnBell: true
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.url-select.launcher: links 
URxvt.url-select.underline: true
URxvt.urlLauncher: "links -g"
URxvt.matcher.button: 1
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 7
URxvt.tabbed.tab-bg: 4
